@font-face {
  font-family: "Font1";
  src: url("../fonts/Font1/.ttf") format("ttf");
  src: url("../fonts/Font1/.eot") format("eot");
  src: url("../fonts/Font1/.woff") format("woff");
  src: url("../fonts/Font1/.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Font2";
  src: url("../fonts/Font2/.ttf") format("ttf");
  src: url("../fonts/Font2/.eot") format("eot");
  src: url("../fonts/Font2/.woff") format("woff");
  src: url("../fonts/Font2/.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Font3";
  src: url("../fonts/Font3/.ttf") format("ttf");
  src: url("../fonts/Font3/.eot") format("eot");
  src: url("../fonts/Font3/.woff") format("woff");
  src: url("../fonts/Font3/.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Font4";
  src: url("../fonts/Font4/.ttf") format("ttf");
  src: url("../fonts/Font4/.eot") format("eot");
  src: url("../fonts/Font4/.woff") format("woff");
  src: url("../fonts/Font4/.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Font5";
  src: url("../fonts/Font5/.ttf") format("ttf");
  src: url("../fonts/Font5/.eot") format("eot");
  src: url("../fonts/Font5/.woff") format("woff");
  src: url("../fonts/Font5/.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
